body {
	background-color:#000;
	color: #DDD;
	height: 100%;
}

html,body {
	margin-left:0px;
	margin-right:0px;
}

body,
button,
input,
select,
p,
textarea {
	font-family: Georgia, sans-serif;
	font-size: calc(1em + .3vw);

}

.row {
	margin-left:0px;
	margin-right:0px;
}

.container-fluid {
	padding-left:0px;
	padding-right:0px;
}

/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0px;
	padding-right: 0px;
}*/

.first_title_capslock {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-size:1.5em;
}

.first_title_capslock a, .other_title_capslock a{
	color:#EEE;
}

.other_title_capslock {
	font-family: 'Roboto';
	font-weight: 50;
	text-transform: uppercase;
	font-size:1.3em;
}

.col-space-1-third{
	padding-left: 0px;
	padding-right: 0px;
	padding-right:6px;
}
.col-space-2-third{
	padding-left: 0px;
	padding-right: 0px;
	padding-right:3px;
	padding-left:3px;
}
.col-space-3-third{
	padding-left: 0px;
	padding-right: 0px;
	padding-left:6px;
}

.row-first-post, .row-second-post{
	padding-bottom:60px;
}

/*navbar*/
.navbar {
	border-radius: 0;
	font-family: 'Roboto';
	font-weight: 50;
	margin-bottom: 40px;
}
.navbar-inverse .navbar-brand{
	color:#FFF;
	font-size: 1.8em;
}

.menu-item {
	font-size: 1.2em;
}

.navbar-inverse {
	background-color: #000;
	border-color: #000;
}

/*footer*/

.footer-social {
	margin-top: 10px;
	margin-bottom:10px;
	font-family: 'Roboto';
	font-weight: 50;
}

.fa-facebook-square, .fa-twitter-square , .fa-flickr , .fa-instagram {
	color:#FFF;
}

/*Titre article*/
.entry-title {
	font-family: 'Roboto';
	font-weight: 50;
	text-transform: uppercase;
	font-size: 4em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content {
	font-size:1.6em;
	font-family: 'Georgia' ;
}

.entry-meta {
	font-size: 0.8em;
	text-transform: uppercase;
	color:#EEE;
	margin-bottom: 20px;
	}

.tag-links a{
	font-family: 'Roboto';
	font-weight: 50;
	font-size: 0.8em;
	text-transform: uppercase;
	color:#EEE;
}

.responsive-img {
  max-width:100%;
  height:auto;
  padding-top:15px;
  padding-bottom:15px;
}